    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: #111;
        color: #fff;
    }

    header {
        background-color: #222;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header h1 {
        color: #38b000;
    }

    .nav-links a {
        margin: 0 10px;
        text-decoration: none;
        color: #e0e0e0;
        font-weight: bold;
    }

    .price {
        font-size: 20px;
        color: #e63946;
        margin-bottom: 10px;
    }

    .discount {
        font-size: 14px;
        color: #888;
        text-decoration: line-through;
    }

    .nav-links .btn {
        padding: 6px 12px;
        border: none;
        border-radius: 4px;
        background-color: #03ac0e;
        color: #fff;
        cursor: pointer;
    }

    .nav-links .btn:hover {
        background-color: #028b0d;
    }

    nav ul {
        list-style: none;
        padding: 0;
        display: flex;
    }

    nav ul li {
        margin: 0 10px;
    }

    nav ul li a {
        color: #fff;
        text-decoration: none;
    }

    .hero {
        position: relative;
        text-align: center;
        background: url('https://mash.sg/cdn/shop/files/KEYBOARD_BANNER_ed0a0472-0acf-4093-90d2-e8718e42b2c5_1920x.jpg?v=1644943533') no-repeat center center/cover;
        height: 500px;
    }


    .hero .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .hero .content {
        position: relative;
        z-index: 1;
        color: #fff;
        top: 50%;
        transform: translateY(-50%);
    }

    .hero h2 {
        margin: 0;
    }

    .hero p {
        margin: 20px 0;
    }

    .hero a {
        padding: 10px 20px;
        background-color: #38b000;
        border-radius: 10px;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

    .categories {
        display: flex;
        justify-content: center;
        padding: 20px;
        gap: 20px;
        background-color: #333;
    }
    
    .categories a {
        background-color: transparent;
        color: white;
        text-decoration: none;
    }
    
    .categories .category {
        text-align: center;
        padding: 20px;
        background-color: #222;
        border: 1px solid #444;
        border-radius: 8px;
        width: 100%;
        max-width: 200px;
        overflow: hidden; 
        transition: transform 0.3s ease; 
    }
    
    .categories .category img {
        max-width: 100%;
        border-radius: 8px;
    }
    
    .categories .category:hover {
        transform: scale(1.05); 
    }

    .categories .category h3 {
        margin: 10px 0;    
    }

    .products {
        padding: 40px;
        background-color: #222;
    }

    .products h2 {
        text-align: center;
        margin-top: -15px;
        margin-bottom: 20px;
    }

    .products .product-grid {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        gap: 10px;
        position: relative;
    }

    .products .product {
        background-color: #333;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
        width: 100%;
        max-width: 200px;
    }

    .products .product img {
        max-width: 100%;
        border-radius: 8px;
    }

    .products .product h3 {
        margin: 10px 0;
    }

    .products .product p {
        margin: 5px 0;
        font-size: 20px;
        color: #e63946;
    }

    .products .product a {
        display: inline-block;
        margin-top: 10px;
        padding: 10px;
        border-radius: 10px;
        background-color: transparent;
        color: white;
        text-decoration: none;
    }

    footer {
        background-color: #111;
        padding: 20px;
        text-align: center;
    }

    footer a {
        color: #38b000; 
        text-decoration: none;
    }

    @media (max-width: 768px) {
        header {
            flex-wrap: wrap;
        }
        header h1{
            font-size: 20px;
        }

        .nav-links {
            position: relative;
            left: 15px;
            font-size: 10px;
            flex-wrap: wrap;
        }

        .nav-links .kat{
            font-weight: bold;
        }

        .nav-links a{
            flex-wrap: wrap;
        }

        .hero {
            height: 300px;
        }

        .categories {
            flex-direction: column;
            align-items: center;
        }

        .products .product-grid {
            gap: 10px;
            flex-direction: column;
            align-items: center;
        }
        .hero {
            background-size: cover; /* Gambar tetap memenuhi elemen */
            background-position: center; /* Pastikan gambar tetap di tengah */
            height: auto; /* Tinggi elemen akan menyesuaikan konten */
            aspect-ratio: 16 / 9; /* Tambahkan rasio untuk proporsi yang baik */
        }
    }